# test image directories
test_images_input/
test_images_output/
test_images_storage/

.env
__pycache__/
*.pyc
.DS_Store


# Model files
*.pt

# Logs
*.log

# Virtual Environment
.venv/
venv/

exiftest/

volumes/
